* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container-fluid {
  height: 120px;
  width: 100%;
  background-color: rgb(238, 140, 12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-fluid img {
  height: 70px;
  margin: 10px;
}
.dropdown {
  border-radius: none;
}
.imgPasta {
  object-fit: cover;
  height: 400px;
  width: 75%;
}
.textDescription {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.textDescription p {
  color: rgb(238, 140, 12);
}
.textDescription h2 {
  color: rgb(82 68 68);
}
.secound-meun {
  background-color: #ece8e0;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
  width: 74.5%;
}
.secound-meun a {
  text-decoration: none;
  color: rgb(82 68 68);
  padding: 10px;
  font-weight: 500;
}
.secound-meun span {
  color: rgb(238, 140, 12);
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.menuHupt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
  padding: 10px;
}
.menuHupt img {
  height: 200px;
  object-fit: cover;
}
.menuBeilage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.menuBeilage img {
  height: 200px;
  object-fit: cover;
  width: 75%;
}
.productCard {
  position: fixed;
  height: 200vh;
  width: 25%;
  top: 120px;
  left: 75%;
  background-color: white;
  box-shadow: 0px 0px 12px 2px rgba(24, 15, 15, 0.339);
  overflow-y: auto;
}


.baskeTitle {
  padding: 5px;
  box-shadow: 0 2px 0 0 grey;
  text-align: center;
}
.titleListe {
  margin: 5px;
  font-weight: 700;
  font-family: sans-serif;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 0 !important;
  margin: 5px;
  padding: 10px;
}
.warenElement{
  overflow: auto;
}
.card:hover {
  background-color: #f5d4ba;
}

.card img {
  border-radius: 0 !important;
  height: 30px;
  width: 30px;
}

.addToBasket {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white !important;
  border: 3px solid #f7f6f1 !important;
  border-radius: 0 !important;
}
.addToBasket:hover {
  background-color: rgb(238, 140, 12) !important;
}
.warenIcon {
  display: flex;
 justify-content: space-between;
  padding: 10px;
}
.warenIcon button {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.warenIcon button:hover {
  background-color: rgb(238, 140, 12);
  color: white;
}
.totalPrice {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.totalPrice button {
  background-color: rgb(238, 140, 12);
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.totalPrice button:hover {
  background-color: #f7f6f1;
  color: rgb(238, 140, 12);
}
.totalPrice p {
  display: flex;
  font-weight: bold;
  color: rgb(82 68 68);
}

.cardTitle{
  text-align: center;
}
.basket-responsive{
  display: none;
}

.basket-responsive-btn{
    
    width: 100%;
}
.popupBasket{
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #fff;
    opacity: 1;
    width: 100%;
    height: 100vh;
}
.order{
   
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #F08832;

}


.desactive{
    display: none;
}
.active{
 display: block};
@media (max-width:800px){
    *{
        font-size: 18px;
    }
    .productCard{
        width: 200px;
    }
    .content{
        width: calc(100% - 300px);
    }
}

@media (max-width:800px) {
    *{
        font-size: 12px;
    }
    .basket-responsive{
    display:block;
}

    .productCard{
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 80vh;
        opacity: 1.95;
        top: 12vh;
        left: 0;
  

    }
   
  
    .content{
        width: 100%;
    }

    .basket-responsive{
        width: 100%;
        position:fixed;
        display: block;
        bottom: 20px;
        left: 0;
        

    }
    
    .secound-meun{
      width: 100%;
    }
    .menuBeilage img{
      width: 100%;
    }
    .menuHupt{
      width: 100%;
    }
    .container-fluid img {
      height: 40px;
      margin: 5px;
    }
    .imgPasta{
  width: 100%;
}


}

